body {
    background-color:aquamarine;
}

h1{
    color:rgb(75, 7, 44);
    background-color: fuchsia;
}

#show_sketch {
    float:right;
}

#canvas {
    border:5px dotted dodgerblue;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 1x 1px 38px greenyellow;}
    to {box-shadow: 1x 1px 38px goldenrod;}
}

p {
    padding-top: 10px;
    font-size: 25px;
}